body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, 'Marvel', 'Segoe UI', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: #e23636;
    padding: 16px 150px 0 150px;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 16px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    align-self: center;
}

.hero {
    display: flex;
    background-color: #e23636;
    padding: 100px 150px;
    justify-content:space-between;
}

.hero-right {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
}

.hero-text-1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-text-2 {
    font-size: 18px;
    color: #f9faf8;
}

.hero-image-placeholder {
    display: flex;
    background-color: rgb(247,143,63);
    align-items: center;
    justify-content: center;
    color: #f9faf8;
    min-width: 420px;
}

.hero-button {
    border-radius: 8px;
    background: rgb(81,140,202);
    border: 1px solid rgb(81,140,202);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 30px;
    font-family: inherit;
    margin-top: 8px;
}

.information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #000000;
    margin: 32px 0 64px 0;
    flex-direction: column;
    align-items: center;
}

.all-illustrations {
    display: flex;
    margin-top: 32px;
    font-size: 16px;
    font-weight: normal;
    justify-content: center;
    gap: 45px;
}

.illustration {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.image {
    background-color: white;
    border: 4px solid rgb(247,143,63);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 6px;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: lighter;
    color: #000000;
    align-items: center;
    background-color: hsl(0, 4%, 85%);
    padding: 120px 445px 100px;
}

.quote-author {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 30px;
}

.modal {
    display: flex;
    border-radius: 10px;
    background-color: rgb(81,140,202);
    margin: 80px 150px;
    justify-content: space-between;
    font-size: 18px;
    color:white;
    padding: 32px 92px;
    font-weight: bold;
}

.modal-text {
    font-weight: normal;
    font-size: 16px;
}

.modal-button {
    border-radius: 8px;
    background: rgb(81,140,202);
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 50px;
    font-family: inherit;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e23636;
    color: white;
    font-size: 15px;
    padding: 22px 0;
}

img {
    height: 14px;
    width: auto;
    padding: 0 5px;
}